.container {
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #d7e3ff;
  border-radius: 1px 1px 10px 10px;
  width: 54vw;
  padding: 10px 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #595959;
  font-size: small;
  margin: 5px 0;
}

.keywords {
  font-size: medium;
}

.keyword {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.keyword:hover {
  color: #595959;
  background-color: #c7d4f4;
}

.keyword a {
  text-decoration: none;
  color: inherit;
}